body{
    margin:0;
    padding:40px;
    overflow-x: hidden;
    font-family: sans-serif;
  }

  .progress{
      width: 60%;
    
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 0; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
     width: 85%;
     height: 500px;
   
  }

  .nav-item {
      color: gray;
  }

  .d-grid {
    font: white;
  }

  .responsive-iframe-1 {
    height: 300px;
    width: 450px;

  }